<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Welcome to Django</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
<!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    <!--自定义的颜色样式  失败 -->
    <link rel="stylesheet" type="text/css" href="../static/css/color.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
                        <!--此处的颜色设置不建议用 -->
                        <h3><font color="#7fff00" size="5">欢迎来到BYD自然语言处理</font></h3>

					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="../static/js/TweenLite.min.js"></script>
		<script src="../static/js/EasePack.min.js"></script>
		<script src="../static/js/rAF.js"></script>
		<script src="../static/js/demo-1.js"></script>
		<div style="text-align:center;">
</div>
	</body>
</html>