<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--页面标题 -->
    <title> {% block title %}首页{% endblock %}Django博客系统</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" />
</head>
<body>
    <div>顶部分类：
        {% for cate in navs %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>
    <hr/>

    <!-- 页面主题内容-->
    {% block main %}
    {% endblock %}

    <hr/>
    <div>底部分类：
        {% for cate in categories %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>

    <div>侧边栏展示：
        {% for sidebar in sidebars %}
            <h4>{{ sidebar.title }}</h4>
            {{ sidebar.content_html }}
        {% endfor %}
    </div>
</body>
</html>