<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django博客系统</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" />
</head>
<body>
    <div>顶部分类：
        {% for cate in navs %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>
    <hr/>

    {% if tag %}
    标签页：{{ tag.name }}
    {% endif %}

    {% if category %}
    分类页：{{ category.name }}
    {% endif %}

    <Ul>
        {% for post in post_list %}
            <li>
            <a href ="/post/{{ post.id }}.html">{{ post.title }}</a>
            <div>
                <span>作者: {{ post.owner.username }}</span>
                <Span>分类：{{ post.category.name }}</Span>
            </div>
            <P>{{ post.desc }}</p>
            </li>
        {% endfor %}
    </Ul>
    <hr/>
    <div>底部分类：
        {% for cate in categories %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>

    <div>侧边栏展示：
        {% for sidebar in sidebars %}
            <h4>{{ sidebar.title }}</h4>
            {{ sidebar.content_html }}
        {% endfor %}
    </div>
</body>
</html>